@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
  --green: #66CB92;
  --red: #FF9396;

  --bg-color-1: #FC00FF;
  --bg-color-2: #00DBDE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(-45deg, var(--bg-color-2), var(--bg-color-1));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.do-the-flip {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}